[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
everylot-rva = ">=0.1.0"
requests = "*"
twitter-bot-utils = ">=0.11.5, <=0.12.0"

[dev-packages]

[requires]
python_version = ">=3.5"
